/* CSS specific to wjbarn.es */

.navbar-custom .avatar-container {
    width: 80px;
    margin-top: -40px;
}

.navbar-custom .home-avatar {
  width: 125px;
  margin-top: -40px;
}



@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 125px;
    margin-top: -60px;
  }

  .navbar-custom .home-avatar {
    width: 200px;
    margin-top: -50px;
  }
}
